{{> header}}
<main class="mdl-layout__content">
    <div class="mdl-layout__tab-panel is-active" id="overview">
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp welcome">
          <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">Hello {{user.profile.name}}!</h2>
          </div>
        </section>

        <section class="section--center mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <div class="download mdl-card mdl-shadow--2dp">
                    <div class="loading">
                        <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Download a movie or TV show</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>Did you find an Uptobox link to download a great movie or TV show ? Wonderful, let's put this on Plex!</p>
                        <form name="startDownloadForm" id="startDownloadForm">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" pattern="^(http|https)?:\/\/uptobox.com\/[a-zA-Z0-9]{12}" id="link">
                                <label class="mdl-textfield__label" for="link">Uptobox link...</label>
                                <span class="mdl-textfield__error">Should be http://uptobox.com/xxxxxxxxxxxx</span>
                            </div>
                            <div class="download-radio">
                                <div class="mdl-cell mdl-cell--6-col">
                                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                                        <input type="radio" id="option-1" class="mdl-radio__button movie" name="options" value="1" checked>
                                        <span class="mdl-radio__label">Movie</span>
                                    </label>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col">
                                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                                        <input type="radio" id="option-2" class="mdl-radio__button tvshow" name="options" value="2">
                                        <span class="mdl-radio__label">TV Show</span>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a id="startDownloadButton" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Start download
                        </a>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col downloadsContainer">
            </div>
        </section>
    </div>
</main>
<dialog id="nas-problem" class="mdl-dialog">
    <h3 class="mdl-dialog__title">¯\_(ツ)_/¯</h3>
    <div class="mdl-dialog__content">
        <p>
            The NAS is offline or doesn't work as expected. Please come back later!
        </p>
    </div>
</dialog>
<script>
    Bugsnag.user = {
        name: '{{user.profile.name}}'
    };
</script>
{{> footer}}
